@model Online_Bus_Reservation_System.Areas.Admin.Models.BusType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
