@model IEnumerable<Online_Bus_Reservation_System.Areas.Admin.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route1.RouteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route2.RouteId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City1.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route1.RouteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route2.RouteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteId })
        </td>
    </tr>
}

</table>
