@model IEnumerable<Online_Bus_Reservation_System.Areas.Admin.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TravelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bus1.BusNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route1.RouteId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bus1.BusNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route1.RouteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleId })
        </td>
    </tr>
}

</table>
